*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url(/a.jpg);
    /* overflow: hidden; */
    background-size: cover;
    /* -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient (black, transparent); */
    overflow-y: scroll;}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px;
    /* background-color:rgb(4, 12, 12); */
    font-family:'Times New Roman', Times, serif;
}
.box1{
    color: white;
    font-size: larger;
    margin: 18px 10px;
}
.box{
    /* display: inline; */
    padding: 4px;
    display: flex;
    
}
.box2{background-color: rgb(105, 105, 239);
    padding: 12px;
    color: white;
    border: 1px solid blue;
    border-radius: 10px;
    margin: 8px;
}
.box a{
    margin: 14px 10px;
    text-decoration: none;
    color: white;
    padding: 4px;
    
}
.box i{
    margin: 10px 10px;
    color: white;
    font-size: xx-large;
}
.seg{
    color: white;
    text-align: center;
    font-size: 32px;
}
.seg2{
    color: white;
    text-align: center;
    font-size: 80px;
    width: 716px;
    margin: auto;
}