.box1{
    font-size: 2rem;
    background-color:red;
    width: 50vw;
    height: 50vh;

}
.box2{
    font-size: 2em;
    background-color:blue;
    /* width: 50vw; */
    height: 50vh;
    width: 50%;
    min-width: none;

}