*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: red;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
}
.box{
    /* flex-wrap: wrap; */
    height: 120px;
    width: 190px;
    text-decoration: dashed;
    border: 1px solid white;
    /* transform: translate(20px,40px) rotate(60deg); */
    /* transform: origin 0; */
    /* margin: 500px 100px; */
    /* transform: scaleX(4); */
    /* transform: scaleY(-8); */
    /* transform: skew(1000deg); */ 
}
img{
    width: 455px;
    /* width: 1900px; */
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function:ease-in ;
    
}
/* img:hover{ */
    /* height: 340px; */
/* } */

