.nav a{
    display:inline-block;
    color:red;
    margin: 20px;
}
.nav a:hover{
    color: black;
}
.name{
    position: relative;
    height: 100%;
    width: 100%;
}
.name img{
    height:100%;
    width: 100%;
}
.linn a img{
    height: 100%;
    width: 100%;
}
.another{
    background-color: red;
    font-size: 40px;
    padding: 20px;
    
}
.divis2{
    background-color:#ffaacc;
}